@model IEnumerable<HydroGarden.Models.CartItem>
@using HydroGarden.Models

    <tbody>
        @if(Model == null)
        {
            <h3>Cart Summary</h3>

        }
        else{
            <h3 class="mb-5">Products</h3>
            var productCount = Model.Count();
            @if(productCount > 0)
            {
                const int itemsPerRow = 4;
                var productRowList = new List<CartItem>();
                @for(int i =0; i<productCount; i++)
                {
                    productRowList = Model.Skip(i * itemsPerRow).Take(itemsPerRow).ToList();
                    <div class="row mt-3">
                        @foreach (var item in productRowList)
                {
                    <div class="col-md-3 mb-2">
                        <a href="#">
                        <div class="card">
                            <div class="card-body">
                            
                                <h5 class="card-title mb-3">
                                    @Admin.searchProduct(item.ProductID).name
                                </h5>
                            
                                <p>
                                    <b>@item.Qty.ToString()</b>
                                </p>
                                <form asp-action="ProcessOrder">
                                    <div class="form-group">
                                        <input type="submit" value="Add to Cart" class="bnt btn-primary" />
                                    </div>
                                </form>
                            
                        </div>
                        </div>
                        </a>
                    </div>
                    
                }
                </div>

                
              }
        }
        }
        <form asp-action="ProcessOrder">
            <div class="form-group">
                <input type="submit" value="Submit Order" class="bnt btn-primary" />
            </div>
        </form>
    </tbody>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
