@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>The Hydroponic Farm is under development at this time. The creator will be locating a place to move 
    the farm to accommodate more space and products. 
</p>
